.select {
	padding: 10px 15px;
	min-width: 120px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #ced4da;
	border-radius: 4px;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	margin: 9px;
}
.text {
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	margin-top: auto;
}
.ctn {
	display: flex;
	justify-content: space-between;
}
